<div class='navbar-expand-lg'>
  <!-- Navbar Toggle -->
  <div class='d-grid'>
    <button
      type='button'
      class='navbar-toggler btn btn-white rounded mb-3'
      data-bs-toggle='collapse'
      data-bs-target='#navbarVerticalNavMenu'
      aria-label='Toggle navigation'
      aria-expanded='false'
      aria-controls='navbarVerticalNavMenu'
    >
      <span class='d-flex justify-content-between align-items-center'>
        <span class='text-dark'>Menu</span>

        <span class='navbar-toggler-default'>
          <i class='bi-list'></i>
        </span>

        <span class='navbar-toggler-toggled'>
          <i class='bi-x'></i>
        </span>
      </span>
    </button>
  </div>
  <!-- End Navbar Toggle -->

  <!-- Navbar Collapse -->
  <div id='navbarVerticalNavMenu' class='collapse navbar-collapse'>
    <div class='d-grid gap-4 flex-grow-1'>

      <div class='nav nav-sm nav-pills nav-vertical'>

        <h5 class='nav-subtitle'>Tipos de Productos<aside></aside></h5>
        {{#each categories}}
          <a class='nav-link d-flex justify-content-between' href='#'>{{name}}
            <span
              class='badge text-dark border rounded-pill'
            >{{productCount}}</span>
          </a>
        {{/each}}

      </div>

      <div class='nav nav-sm nav-pills nav-vertical'>
        <h5 class='nav-subtitle'>Marcas</h5>
        {{#each brands}}
          <a class='nav-link d-flex justify-content-between' href='#'>{{this}}
            <span
              class='badge text-dark border rounded-pill'
            >{{this.length}}</span></a>

        {{/each}}
      </div>

      <div class='nav nav-sm nav-pills nav-vertical'>
        <div class='accordion-item'>
          <div class='accordion-header' id='headingBasicsSix'>
            <a
              class='accordion-button collapsed'
              role='button'
              data-bs-toggle='collapse'
              data-bs-target='#accordionCourseSix'
              aria-expanded='false'
              aria-controls='accordionCourseSix'
            >
              <h5 class='nav-subtitle'>Ingredientssssssssses</h5>
            </a>
          </div>
          <div
            id='accordionCourseSix'
            class='accordion-collapse collapse'
            aria-labelledby='headingBasicsSix'
          >
            <div class='accordion-body'>
              <!-- List Group -->
              <div class='list-group list-group-flush list-group-no-gutters'>
                <!-- Item -->
                <div class='list-group-item text-muted'>
                  <div class='row'>
                    <div class='col-8'>
                      <div class='d-flex'>
                        <div class='flex-grow-1 ms-2'>
                          {{#each ingredients}}
                            <a
                              class='nav-link d-flex justify-content-between'
                              href='#'
                            >{{name}}
                              <span
                                class='badge text-dark border rounded-pill'
                              >{{productCount}}</span>
                            </a>
                          {{/each}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item -->
              </div>
              <!-- End List Group -->
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
      </div>
    </div>
  </div>
  <!-- End Navbar Collapse -->
</div>