<<!-- ========== MAIN CONTENT ========== -->
<main id='content' role='main'>
  <!-- Breadcrumb -->
  <div class='border-top border-bottom'>
    <div class='container py-3'>
      <!-- Breadcrumb -->
      <nav aria-label='breadcrumb'>
        <ol class='breadcrumb mb-0'>
          <li class='breadcrumb-item'>
            <a href='/v1/products'>Página de Inicio</a>
          </li>
          <li class='breadcrumb-item active' aria-current='page'>Descripción del
            producto</li>
        </ol>
      </nav>
      <!-- End Breadcrumb -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class='container content-space-t-2 content-space-b-lg-2'>
    <div class='row'>
      <div class='col-md-4 col-lg-3 mb-9 mb-md-0'>
        <div class='pe-lg-2'>
          <div class='text-center mb-4'>
            <img
              class='avatar avatar-xxl avatar-4x3'
              src='{{product.image}}'
              alt='Logo'
            />
          </div>
          <div class='d-grid mb-7'>
            <a
              class='btn btn-sm btn-block btn-primary transition-3d-hover'
              href='https://www.google.com/search?q={{product.name}}'
              target='_blank'
            >Búsqueda en Google</a>
          </div>

          <div class='mb-7'>
            <h1 class='h4'>Marca Del Producto</h1>
            <div class='flex-grow-1 ms-2'>
              <span class='link link-secondary'>{{product.brand}}</span>
            </div>
          </div>

          <div class='d-none d-md-block mb-7'>
            <h4> Categoría del Producto</h4>
            <div class='flex-grow-1 ms-2'>
               <a
              class='btn btn-soft-secondary btn-xs me-1 mb-2'
              href='#'
            >{{product.category}}</a>

            </div>
          </div>
          <div class='d-none d-md-block mb-7'>
            <h4> País de la Marca</h4>
            <div class='flex-grow-1 ms-2'>
              <span class='link link-secondary'>{{product.brandCountry}}</span>
            </div>
          </div>

          {{!-- <div class='d-none d-md-block mb-7'>
            <h4>Sitio Web</h4>

            <a
              class='link'
              href='https://epidermique.com/?s=Alsace'
            >https://epidermique.com/?s=Alsace</a>
          </div> --}}

          <a
            class='link-sm link-secondary'
            href='https://forms.gle/CLKVx48dCN2vDyVHA'
          >
            <i class='bi-flag me-2'></i>
            ¿Algo incorrecto o hace falta? ¡Haznos saber!
          </a>
        </div>
      </div>
      <!-- End Col -->

      <div class='col-md-8 col-lg-9 column-divider-md'>
        <div class='ps-lg-2'>
          <div class='mb-5'>
            <h2>{{product.name}}</h2>
          </div>

          <!-- Nav Scroller -->
          <div class='js-nav-scroller hs-nav-scroller-horizontal'>
            <span class='hs-nav-scroller-arrow-prev' style='display: none;'>
              <a class='hs-nav-scroller-arrow-link' href='javascript:;'>
                <i class='bi-chevron-left'></i>
              </a>
            </span>

            <span class='hs-nav-scroller-arrow-next' style='display: none;'>
              <a class='hs-nav-scroller-arrow-link' href='javascript:;'>
                <i class='bi-chevron-right'></i>
              </a>
            </span>

            <!-- Nav -->
            <ul
              class='nav nav-segment nav-fill mb-7'
              id='featuresTab'
              role='tablist'
            >
              <li class='nav-item' role='presentation'>
                <a
                  class='nav-link active'
                  href='#featuresOne'
                  id='featuresOne-tab'
                  data-bs-toggle='tab'
                  data-bs-target='#featuresOne'
                  role='tab'
                  aria-controls='featuresOne'
                  aria-selected='true'
                  style='min-width: 7rem;'
                >Información del producto</a>
              </li>
              <li class='nav-item' role='presentation'>
                <a
                  class='nav-link'
                  href='#featuresTwo'
                  id='featuresTwo-tab'
                  data-bs-toggle='tab'
                  data-bs-target='#featuresTwo'
                  role='tab'
                  aria-controls='featuresTwo'
                  aria-selected='false'
                  style='min-width: 7rem;'
                >Descripcion del Producto</a>
              </li>

            </ul>
            <!-- End Nav -->
          </div>
          <!-- End Nav Scroller -->

          <!-- Tab Content -->
          <div class='tab-content' id='pills-tabContent'>
            <div
              class='tab-pane fade show active'
              id='featuresOne'
              role='tabpanel'
              aria-labelledby='featuresOne-tab'
            >

              <div
                class='row justify-content-sm-between align-items-sm-center border-bottom pb-3 mb-4'
              >
                <div class='col-sm mb-2 mb-sm-0'>
                  <h4 class='mb-0'>Ingredientes
                </div>
                <!-- End Col -->
              </div>
              <div
                class='accordion accordion-btn-icon-start'
                id='accordionBtnIconStartExample'
              >
                {{#each ingredients}}
                  <div class='accordion-item'>
                    <div class='accordion-header' id='heading-{{@index}}'>
                      <button
                        class='accordion-button collapsed'
                        type='button'
                        data-bs-toggle='collapse'
                        data-bs-target='#collapse-{{@index}}'
                        aria-expanded='false'
                        aria-controls='collapse-{{@index}}'
                      >
                        {{name}}
                      </button>
                    </div>
                    <div
                      id='collapse-{{@index}}'
                      class='accordion-collapse collapse'
                      aria-labelledby='heading-{{@index}}'
                      data-bs-parent='#accordionBtnIconStartExample'
                    >
                      <div class='accordion-body'>{{description}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>

              {{!-- <div class='d-grid gap-4'>
                <div class='d-none d-md-block mb-7'>
                  <h4>Referencias</h4>
                  <!-- List Pointer -->
                  <ul class='list-unstyled list-pointer'>
                    <li class='list-pointer-item'>
                      <a class='link link-secondary' href='#'>Linkeado con la
                        fuente de la DB</a>
                    </li>
                  </ul>
                  <!-- End List Pointer -->
                </div>

              </div> --}}
            </div>

            <div
              class='tab-pane fade'
              id='featuresTwo'
              role='tabpanel'
              aria-labelledby='featuresTwo-tab'
            >
              <div
                class='row justify-content-sm-between align-items-sm-center border-bottom pb-3 mb-4'
              >
                <div class='col-sm mb-2 mb-sm-0'>
                  <h4 class='mb-0'>Un rápido acercamiento
                    {{!-- <small class='text-muted ms-1'>(156)</small></h4> --}}
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
              <!-- Comment -->
              <ul class='list-comment mb-7'>
                <!-- Item -->
                <li class='list-comment-item'>
                  <div class='d-flex mb-3'>
                    <div class='flex-grow-1 ms-3'>
                      <p>{{product.description}}</p>
                      <!-- Media -->
                      <div class='d-flex align-items-center'>
                        <span class='small me-2'>¿Fue útil?</span>

                        <div class='d-flex gap-2'>
                          <a class='btn btn-white btn-xs' href='javascript:;'>
                            <i class='bi-hand-thumbs-up me-1'></i>
                            Sí
                            <span>(45)</span>
                          </a>
                          <a class='btn btn-white btn-xs' href='javascript:;'>
                            <i class='bi-hand-thumbs-down me-1'></i>
                            No
                            <span>(21)</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Media -->
                </li>
                <!-- End Item -->
              </ul>
              <!-- End Comment -->
            </div>

          </div>
          <!-- End Tab Content -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->

  <!-- Card Grid -->
  <div class='container content-space-2'>
    <!-- Heading -->
    <div class='d-flex justify-content-between align-items-center mb-3'>
      <h3 class='mb-0'></h3>
      <a class='link' href='/'>Ver todos
        <i class='bi-chevron-right small ms-1'></i></a>
    </div>
    <!-- End Heading -->

    <div class='row gx-3 mx-n2'>
    <!-- Container -->
      <div class='row gx-3 mx-n2'>
      {{#each relatedProducts}}
      <div class='col-sm-6 col-md-4 mb-3'>
        <!-- Card -->
        <div class='card card-bordered card-transition shadow-none h-100'>
          <a
            class='card-body'
            href='/'
          >
            <div class='d-flex'>
              <div class='flex-shrink-0'>
                <img
                  class='avatar avatar-xxl'
                  src='{{image}}'
                  alt='Logo'
                />
              </div>
              <div class='flex-grow-1 ms-3'>
                <div class='d-flex align-items-center'>
                  <h5 class='card-title mb-0'>{{brand}}</h5>
                </div>
                <p class='card-text text-body small'>{{name}}</p>
              </div>
            </div>
          </a>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->
      {{/each}}
      <!-- End Container -->
      </div>
  </div>
  <!-- End Card Grid -->
</main>
<!-- ========== END MAIN CONTENT ========== -->>