<body>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id='content' role='main' >
    
    <!-- Breadcrumb -->
    <div class='border-top border-bottom'>
      <div class='container py-3'>
        <!-- Breadcrumb -->
        <nav aria-label='breadcrumb'>
          <ol class='breadcrumb mb-0'>
            <li class='breadcrumb-item'>
              <a href='/v1/products'>Productos</a>
            </li>
            <li class='breadcrumb-item active' aria-current='page'>Resultados de
              la Búsqueda</li>
          </ol>
        </nav>
        <!-- End Breadcrumb -->
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Card Grid -->
    <div class='container content-space-3 '>
      <div class='row col-lg-divider '>
        <div class="col-lg-4">
          <!-- Navbar -->
            {{>_add_btn}}
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-lg-7">
          <div class='ps-lg-2'>
            <!-- Search -->
            <div class='mb-4'>
              <div class='mb-3'>
                {{#if products.length}}
                <h4>{{products.length}} Resultados
                  <span class='text-body small'>para "{{query}}"</span></h4>
                {{/if}}  
              </div>

              <form method="GET" action="/v1/products/search">
                <!-- Input Card -->
                <div class='input-card border'>
                  <div class='input-card-form'>
                    <label
                      for='searchAppsForm'
                      class='form-label visually-hidden'
                    >Search for apps</label>
                    <div class='input-group input-group-merge'>
                      <span class='input-group-prepend input-group-text'>
                        <i class='bi-search'></i>
                      </span>
                      <input type='text' name="q" class='form-control' id='searchAppsForm' placeholder='Buscar' aria-label='Search for apps'/>

                    </div>
                  </div>
                  <button type='submit button' class='btn btn-primary'>
                    <i class='bi-arrow-right'></i>
                  </button>
                </div>
                <!-- End Input Card -->
              </form>
            </div>
            <!-- End Search -->
            {{#if products}}
            <div class='row gx-4'>
              {{#each products}}

              <div class='col-sm-6 col-md-6 mb-3'>
                <!-- Card -->
                <div
                  class='card card-bordered card-transition shadow-none h-100'
                >
                  <a
                    class='card-body'
                    href='@@autopath/demo-app-marketplace/app-overview.html'
                  >
                    <div class='d-flex'>
                      <div class='flex-shrink-0'>
                        <img
                          class='avatar avatar-xl'
                          src='{{image}}'
                          alt='Logo'
                        />
                      </div>

                      <div class='flex-grow-1 ms-3'>
                        <div class='d-flex align-items-center'>
                          <h6 class='card-title mb-0'>{{name}}</h6>
                        </div>
                        <p class='card-text text-body small'>{{brand}}</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->
              {{/each}}
            </div>
            <!-- End Row -->
            {{/if}}
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
      {{#if query}}
      <div class="mh-100" style="width: 20vw; height: 15vh;"></div>
      {{/if}}
    <!-- End Card Grid -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

</body>